.heading {
    font-size:22px;
    color:black;
    font-style:normal;
}
body {
    background-size:cover;
    background-position:center;
}
.status {
    font-size:22px;
    color:black;
    font-style:normal;
}
canvas {
    box-shadow:10px 10px 10px grey;
    border-radius:20px;
}